.cardsContainer {
  margin: 0 auto;
}

.bootstrap .card {
  background-color: rgb(255 255 255 / 60%);
}

.bootstrap-dark .card {
  background-color: rgb(60 61 59 / 60%);
}

.cardsContainer a:hover {
  text-decoration: none;
}
