.footer {
  padding-top: 30px;
}

.footer .skeeell-description {
  margin-top: -30px;
}

.footer #skeeep-logo {
  height: 35px;
  vertical-align: -8pt;
  padding-right: 3pt;
}

.footer #weee-open-logo {
  height: 20px;
  vertical-align: -5pt;
  padding-left: 3pt;
}

.footer #skeeell-logo {
  height: 90px;
  vertical-align: -26.5pt;
  margin-left: -8pt;
}
