.card {
  box-shadow: 0 7px 5px 0 rgb(0 0 0 / 20%), 10px 6px 10px 0 rgb(0 0 0 / 19%);
  border-radius: 25px !important;
  margin: 15px 0;
  padding: 25px 5px;
  height: 600px;
  
}


.card .title {
  font-size: 19pt;
  letter-spacing: -0.4px;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  color: #3c3d3b;
}

.card .subtitle {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: justify;
  text-align: center;
  color: #797979;
}

.card .icon {
  margin: 0 auto;
  padding: 0;
  width: 215px;
  height: 215px;
}

.card .icon img {
  margin: 0 auto;
  padding: 0;
}

.card .text {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  margin-top: 15px;
  font-weight: 400;
  color: #3c3d3b;
  text-align: center;
}

.bootstrap-dark .card .title {
  color: #f5f6fa;
}

.bootstrap-dark .card .subtitle {
  color: #dcdde1;
}

.bootstrap-dark .card .text {
  color: #dcdde1;
}
