@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
.App {
  text-align: center;
}


body {
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background: linear-gradient(120deg, #7dc1f9, #b1aef9, #ff82a0, #FBAD5F);
  background-size: 140% 140%;
  -webkit-animation: Gradient 8s ease-in-out infinite;
  -moz-animation: Gradient 8s ease-in-out infinite;
  animation: Gradient 8s ease-in-out infinite;
}


@-webkit-keyframes Gradient {

  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/* !!!! background: linear-gradient(120deg, #7dc1f9, #b1aef9, #ff82a0, #FBAD5F) !!!!*/
/* original: linear-gradient( #7dc1f9, #b1aef9, #e795d9, #ff82a0, #fb845f)*/





