@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&family=Quicksand:wght@400;700&display=swap");
@font-face {
  font-family:Vazir ;
  src:url("./fonts/Vazir/Vazir-Regular.ttf");
}

.App { text-align: center; }

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg, #7dc1f9, #b1aef9, #ff82a0, #fbad5f);
  background-size: 140% 140%;
  animation: Gradient 8s ease-in-out infinite;
  animation: Gradient 8s ease-in-out infinite;
  animation: Gradient 8s ease-in-out infinite;
}

.bootstrap-dark {
}

@keyframes Gradient {
  0% { background-position: 0% 50%; }

  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes Gradient {

  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes Gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* !!!! background: linear-gradient(120deg, #7dc1f9, #b1aef9, #ff82a0, #FBAD5F) !!!! */

/* original: linear-gradient( #7dc1f9, #b1aef9, #e795d9, #ff82a0, #fb845f) */


.header{
  padding: 50px 0px;
  margin:0 auto;
}

@media screen and (max-width: 310px) {
  .header img{
    width: 90%;
    height: auto;
  }

}